@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.Bartender{
  /* text-align: center; */
}

.Bartender-aboutheader{
  margin: auto;
  margin-top: 0px;
  height: 25px;
  width: 400px;
  position: relative;
}

.Bartender-aboutbutton{
  text-align: center;
  border: 0px solid white;
  outline: none;
  background-color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 300px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: .8em;
  color: darkgray;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-weight: 400;
  transition: .5s;
}

.Bartender-aboutbutton:hover{
  color: gray;
}

.Bartender-abouttextwrapper{
  margin: auto;
  margin-top: 75px;
  border: 3px solid white;
  background-color: black;
  border-radius: 30px;
  /* height: 500px; */
  width: 550px;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.Bartender-abouttext{
  display: inline-block;
  margin: auto;
  border: 0px solid red;
  /* overflow: auto; */
  width: 525px;
  line-height: 1em;
  color: gray;
  text-align: left;
  word-wrap: break-word;
}

.Bartender-aboutlinks{
  color: white;
  text-decoration: inherit;
}


.Bartender-header{
  margin: auto;
  margin-top: 75px;
  border: 0px solid white;
  height: 50px;
  width: 400px;
  position: relative;
}

.Bartender-button{
  text-align: center;
  border: 0px solid white;
  outline: none;
  background-color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 300px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-weight: 500;
  transition: .5s;
}

.Bartender-button:hover{
  color: darkgray;
}

.Bartender-button:active{
  color: gray;
}

.Bartender-content{
  margin: auto;
  margin-top: 10px;
  border: 3px solid white;
  background-color: black;
  border-radius: 30px;
  /* height: 500px; */
  width: 550px;
  text-align: center;
  padding-bottom: 20px;
}

.Bartender-title{
  border: 0px solid white;
  margin-bottom: 10px;
  text-align: center;
  width: 400px;
  /* height: 20px; */
  color: white;
  font-size: 2.3em;
  display: inline-block;
}

a{
  color: inherit;
  text-decoration: inherit;
  transition: .25s;
}

a:hover{
  color: darkgray;
}

a:active{
  color: gray;
}

.Bartender-imagewrapper{
  border: 2px solid darkgray;
  border-radius: 15px;
  display: inline-block;
}

.Bartender-image {
  width: 150px;
  height: 150px;
  border: 2px solid gray;
  border-radius: 15px;
  margin-right: 20px;
  margin-left: 15px;
  /* display: inline-block; */
  float: right;

}

.Bartender-contenttext{
  display: inline-block;
  margin: auto;
  border: 0px solid red;
  /* overflow: auto; */
  width: 525px;
  line-height: 1em;
  color: gray;
  text-align: left;
}

.Bartender-sectionheader{
  font-size: 1em;
  color: lightgray;
}

.Bartender-sectiontext{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.1em;
  color: white;
}

.Bartender-ingredientslist{
  font-family: "Permanent Marker", cursive;
  font-size: 1.1em;
  color: white;
}

body{
  background-color: #21252B;
  color: #6B727D;
  font-family: 'Spectral', serif;
}
