@import url('https://fonts.googleapis.com/css?family=Spectral');

.Bartender{
  text-align: center;
}

.Bartender-header{
  margin: auto;
  margin-top: 150px;
  border: 2px solid white;
  height: 100px;
  width: 400px;
  position: relative;
}

.Bartender-button{
  text-align: center;
  text-transform: uppercase;
  border: 0px solid white;
  outline: none;
  background-color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 300px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-weight: 500;
  transition: .5s;
}

.Bartender-button:hover{
  color: darkgray;
}

.Bartender-button:active{
  color: gray;
}

.Bartender-content{
  margin: auto;
  margin-top: none;
  border: 2px solid white;
  height: 500px;
  width: 400px;
}
body{
  background-color: #21252B;
  color: #6B727D;
  font-family: 'Spectral', serif;
}
